<div class="row">
    <div class="col s12 m8 l6">
        <div class="card">
            <div class="image-responsive center">
                <img height="285" width="285" alt="6.5k-9.3k Monthly Volume visualization" src="/assets/moz keyword analyze abogado volume.png"/>
                <br/>

            </div>
            <div class="card-stacked">            </div>
            <div class="card-action center-align">
             <a class="black-text" href="//analytics.moz.com/pro/keyword-explorer/keyword/overview?locale=en-US&q=abogado">
               <img height="20" src="/assets/moz_logo.png" alt="moz logo">
             </a>
            </div>

        </div>
    </div>
</div>
