---
layout: page
title: Contact
permalink: /contact/
excerpt: +1 (872) 216-9825 - Chicago-based SEO offering services catered to legal marketing.
---

<div class="row">
  <!-- sharing row -->
  <div class="container">
    <div class="col s12 m6">
      <div class="card  darken-1">
        <div class="card-content">
          <span class="card-title">Happy Connecting!</span>
          <ul class="fa-ul">



            <li>            <!-- phone via voice -->
              <span class="fa-stack fa-lg">
                <!-- <i class="fas fa-square fa-stack-2x" aria-hidden="true"></i> -->
                <i class="fas fa-phone fa-stack-1x" aria-hidden="true"></i>
              </span>
              <a class="black-text" href="tel:1-872-216-9825">(872) 216-9825</a>
              <br />
            </li>

            <li>            <!-- phone via text -->
              <span class="fa-stack fa-lg">
                <!-- <i class="fas fa-square fa-stack-2x" aria-hidden="true"></i> -->
                <i class="fas fa-sms fa-stack-1x" aria-hidden="true"></i>
              </span>
              <a class="black-text" href="sms:1-312-375-9568">New SMS Message</a>
              <br />
            </li>

            <li>            <!-- email -->
              <span class="fa-stack fa-lg">
                <!-- <i class="fas fa-square fa-stack-2x" aria-hidden="true"></i> -->
                <i class="fas fa-envelope fa-stack-1x" aria-hidden="true"></i>
              </span>
              <a class="black-text" href="mailto:rene@marketingforlawyers.org">rene@marketingforlawyers.org</a>
              <br />
            </li>

            <li>            <!-- twitter -->
              <span class="fa-stack fa-lg">
                <!-- <i class="fas fa-square fa-stack-2x" aria-hidden="true"></i> -->
                <i class="fab fa-twitter fa-stack-1x " aria-hidden="true"></i>
              </span>
              <a class="black-text" href="//twitter.com/caselinguist"> @caselinguist</a>
              <br />
            </li>


          </ul>

        </div>
      </div>

    </div>
  </div>

  <!-- sharing row -->
  <div class="col s12 m12">
    <div class="container">
      <h2>Billing Address</h2>
      <address>
        <span>Case Linguist LLC</span> •
        <span>5829 S. Francisco Ave</span> •
        <span>Chicago, IL 60629</span>
      </address>
    </div>
  </div>
</div>
