---
layout: default
---

<style type="text/css" media="screen">
  .container-alt {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container-alt">
  <h1">Privacy</h1>

  <p><strong>User Data</strong></p>
  <p>Case Linguist uses Google analytics to better understand user engagement.</p>
  <p>No credit card information is stored by Case Linguist LLC.</p>


</div>
