---
layout: default
---

<style type="text/css" media="screen">
  .container-alt {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container-alt">
  <h1>Terms</h1>

  <p><strong>Contact First</strong></p>
  <p>It is strongly recommended to make contact via phone or email at <a href="mailto:rene@marketingforlawyers.org">rene@marketingforlawyers.org</a> <em>before</em> submitting payment.</p>
  <p>For new clients the initial payment will act as a retainer.  The rate of services performed will be billed hourly at $150/hour unless we agree otherwise.</p>


</div>
