<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.primary_tag_desc | escape }}{% endif %} | {{ site.marketing_title }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <!-- realfavicongenerator.com -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/fav/apple-touch-icon.png?v=NmP7vN2QE7' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/fav/favicon-32x32.png?v=NmP7vN2QE7' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/fav/favicon-16x16.png?v=NmP7vN2QE7' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/fav/site.webmanifest?v=NmP7vN2QE7' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/fav/safari-pinned-tab.svg?v=NmP7vN2QE7' | relative_url }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ '/assets/fav/favicon.ico?v=NmP7vN2QE7' | relative_url }}">
  <meta name="msapplication-TileColor" content="#5fa0a1">
  <meta name="msapplication-config" content="{{ '/assets/fav/browserconfig.xml?v=NmP7vN2QE7' | relative_url }}">
  <meta name="theme-color" content="#5fa0a1">


  <!-- google fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Assistant|Cabin" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Rokkitt&display=swap" rel="stylesheet">


  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css" integrity="sha256-BbA16MRVnPLkcJWY/l5MsqhyOIQr7OpgUAkYkKVvYco=" crossorigin="anonymous" />

  <!-- materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>


  <link rel="stylesheet" href='{{ "/assets/main.css" | relative_url }}'>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">


  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% if jekyll.environment == 'production' %}
  {% include google-analytics.html %}
  {% endif %}

  <!-- Chatra {literal} -->
  <script>
      (function(d, w, c) {
          w.ChatraID = 'RftcZGhX9LZETxsKY';
          var s = d.createElement('script');
          w[c] = w[c] || function() {
              (w[c].q = w[c].q || []).push(arguments);
          };
          s.async = true;
          s.src = 'https://call.chatra.io/chatra.js';
          if (d.head) d.head.appendChild(s);
      })(document, window, 'Chatra');
  </script>
  <!-- /Chatra {/literal} -->


</head>
