<a href="//twitter.com/{{ include.username }}">
  <i class="fab fa-twitter green-text"></i>
  <!-- <span class="icon icon--twitter">{% include icon-twitter.svg %}</span> -->

  <span class="username green-text">＠{{ include.username }}</span>
</a>
