<style>
  #sitemap {
    min-width: 300px;
    max-width: 800px;
    margin: 1em auto;
    /* border: 1px solid silver; */
  }

  #sitemap h4 {
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
  }
  #sitemap p {
    font-size: 13px;
    line-height: 16px;
  }
</style>

<p class="black-text">Visual Sitemap</p>

<!-- comment as you work -->
<!-- {% for url in site.data.siteurls %}
  <h6>{{ url["H1-1"] | tr 10 }}</h6>
  <p>
    {{ url.Address | remove: "https://marketingforlawyers.org" }}
  </p>
{% endfor %} -->


<!-- chart start here -->
<div id="sitemap"></div>

<script>
  var customNodes = [
  {
    // id: {{ site.data.sitemap.Address | remove: site.url }},
    id: "Home",
    column: 1,
    title: "<a href='{{ '/' | relative_url }}'>page</a>"
  },
  {
    id: "About Company",
    column: 2,
    title: "<a href='{{ '/about/' | relative_url }}'>page</a>"

  },
  {
    id: "Contact",
    column: 2,
    title: "<a href='{{ '/contact/' | relative_url }}'>page</a>"

  },
  {
    id: 'Law Firm SEO',
    color: '#BFD6ED',
    column: 3,
    // title: "<a href='{{ '/law-firm-seo/' | relative_url }}'>directory</a>"
  },
  {
    id: 'Testimonials',
    column: 2,
    title: "<a href='{{ '/testimonials/' | relative_url }}'>page</a>"
  },
  {
    id: 'Immigration',
    color: '#BFD6ED',
    column: 4,
    // title: "<a href='{{ '/immigration/' | relative_url }}'>directory</a>"
  },
  {
    id: 'Twitter.com',
    color: '#BFD6ED',
    column: 2,
    title: "<a style='color:green' href='//twitter.com/@caselinguist'>@caselinguist</a>"
  },
  {
    id: 'Not all clients search in English',
    // color:
    column: 5,
    title: "<a href='{{ '/law-firm-seo/immigration/searches-in-the-spanish-speaking-community-03-06-2019.html' | relative_url }}'>page</a>"
  },
{
  id: "Content strategy and translation services",
  column: 4,
  title: "<a href='{{ '/law-firm-seo/it-can-be-a-great-advantage-05-15-2019.html' | relative_url }}'>page</a>"

},
  {
    id: 'Law Technology with Impact',
    column: 4,
    title: "<a href='{{ '/law-firm-seo/law-technology-with-impact-02-25-2019.html' | relative_url }}'>page</a>"
  }

  ]

  var options = {
    chart: {
      renderTo: 'sitemap',
      height: 600,
      inverted: true,
    },

    title: {
      text: 'Marketingforlawyers.org'
    },

    series: [{
      type: 'organization',
      name: 'Case Linguist LLC',
      keys: ['from', 'to'],
      data: [

      ['Home', 'About Company'],
      ['Home', 'Contact'],
      ['Home', 'Law Firm SEO'],
      ['Home', 'Testimonials'],
      ['Home', 'Twitter.com'],
      ['Law Firm SEO', 'Immigration'],
      ['Law Firm SEO', 'Content strategy and translation services'],
      ['Law Firm SEO', 'Law Technology with Impact'],
      ['Immigration', 'Not all clients search in English']


      ],
      levels: [{
        level: 0,
        color: '#FEA66D',
        dataLabels: {
          color: 'black',
        },

        height: 25
      }, {
        level: 1,
        color: '#F0F8FF',
        dataLabels: {
          color: 'black'
        },
        height: 25
      }, {
        level: 2,
        color: '#F0F8FF',
      }, {
        level: 3,
        color: '#F0F8FF'
      }],
      nodes: customNodes,
      colorByPoint: false,
      color: '#007ad0',
      dataLabels: {
        color: 'black'
      },
      borderColor: 'white',
      nodeWidth: 70,

    }],
    tooltip: {
      outside: true
    }
  }
  // build chart


  document.addEventListener('DOMContentLoaded', function() {
    var chart = new Highcharts.Chart(options);
  })
</script>
