---
layout: default
---
<article class='post'>
  <header class='post-header'>
    <h1 class='post-title strong-blog-font'>{{ page.title | escape }}</h1>

    <div class='post-meta strong-blog-font'><time datetime='{{ page.date | date_to_xmlschema }}'>

      {{ page.date | date: '%A, %B %e, %Y' }}
    </time>

    {% if page.last_modified_at %}
      <br/>

      <p class="left black-text">Updated: <time datetime='{{ page.last_modified_at | date: "%B %e, %Y"}}'>{{ page.last_modified_at | date: "%B %e, %Y"}}</time></p>
      <br/>
      <br/>
      <br/>

    {% endif %}



    {% if page.author %}
    <span></span>
    {% endif %}
  </div>
</header>
<div class='post-content blog-font'>
  {{ content }}
</div>
</article>
